/* @import "react-slideshow-image/dist/styles.css"; */
#navbar {
  background-color: rgb(44, 62, 80);
  font-size: medium;
}

#landing-page {
  margin-bottom: 50px;
}
.nav {
  font-size: medium;
}

.each-fade{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slide-container {
  margin-top: 50px;
}

.landing-section-1 {
  background-color: #1ABC9C;
}

.landing-section-2 {
  margin-top: 10px;
  background-color: white;
}

.about-us-member {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ui.borderless.menu {

}