/* @import "react-slideshow-image/dist/styles.css"; */
#navbar {
  background-color: rgb(44, 62, 80);
  font-size: medium;
}

#landing-page {
  margin-bottom: 50px;
}
.nav {
  font-size: medium;
}

.each-fade{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slide-container {
  margin-top: 50px;
}

